<div class="container  mt-3 ">

    <div class="row">

        <div class="col-md-6 mt-5 fontChange">
            <h1> Smart virtual Study Room </h1>
            <p class="mt-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolores dolore
                numquam accusamus
                labore
                facilis esse quibusdam iste sunt Lorem ipsum dolor sit, amet consectetur adipisicing Lorem
                ipsum, dolor sit  dam iste sunt Lorem consectetur adipisicing.
            </p>
        </div>
    </div>

    <div class="row pos">

        <div class="col-md-4">
            <div class=" ml-5">
                <div class=" text-center btn-home">
                    <button class="btnIndex text-light mb-5 mt-5"> start now </button>
                </div>
            </div>
        </div>

        <div class="col-md-4  mt-3 ml-5 homepage">
            <img src="assets/image/Capture33.PNG"
                alt="study room image" style="margin-top: -60;
                width: 672px;">
        </div>

    </div>
</div>

<!--start recent page-->
<section class="recent my-3">
        <h2 class="text-center mt-2"> Recent Courses </h2>

        <div class="recent-brdr">

        </div>

        <div class="container">
            <div class="row  mt-5 mb-5">

                <div class="col-md-3">
                    <div class="item position-relative ">
                        <img class="img-fluid"
                            src="assets/image/12.jpg"
                            alt="item-image">

                        <div class="img-overlay">
                            <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                            <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                            <span> 120 student</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item position-relative">
                        <img class=" img-fluid"
                            src="assets/image/10.jpg"
                            alt="item-image">

                        <div class="img-overlay">
                            <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                            <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                            <span> 120 student</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item position-relative">
                        <img class=" img-fluid"
                        src="assets/image/6.jpg"
                            alt="item-image">

                        <div class="img-overlay">
                            <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                            <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                            <span> 120 student</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item position-relative">
                        <img class=" img-fluid"
                        src="assets/image/5.jpg"
                            alt="item-image">

                        <div class="img-overlay">
                            <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                            <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                            <span> 120 student</span>
                        </div>
                    </div>
                </div>



                <div class="col-md-3 mt-5">
                        <div class="item position-relative ">
                            <img class="img-fluid"
                            src="assets/image/6.jpg"
                                alt="item-image">

                            <div class="img-overlay">
                                <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                                <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                                <span> 120 student</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mt-5">
                        <div class="item position-relative">
                            <img class=" img-fluid"
                                src="assets/image/3.jpg"
                                alt="item-image">

                            <div class="img-overlay">
                                <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                                <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                                <span> 120 student</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mt-5">
                        <div class="item position-relative">
                            <img class=" img-fluid"
                            src="assets/image/2.jpg"
                                alt="item-image">

                            <div class="img-overlay">
                                <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                                <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                                <span> 120 student</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-5">
                        <div class="item position-relative">
                            <img class=" img-fluid"
                            src="assets/image/1.jpg"
                                alt="item-image">

                            <div class="img-overlay">
                                <p class=" ml-2"> Lorem ipsum dolor sit amet.</p>
                                <span class=" ml-3"> Dr Shimaa Al adawy |</span>
                                <span> 120 student</span>
                            </div>
                        </div>
                    </div>





                    </div>
                </div>

</section>
<!--end recent page-->
