<div class="container  mt-3 ">

    <div class="row">

        <div class="col mt-5 fontChange">
            <h2> Become an instructor </h2>
            <p class="mt-4">If you are a subject matter expert or a skilled professional who wants to create and publish online courses, then you’ve come to the right place. Share your knowledge with audience . Join our community of self-publishers today!
            </p>
            <div class=" ml-5">
                <div class=" text-center btn-home">
                    <button routerLink='/upload' class="btnIndex text-light mb-5 mt-2 cursorPointer"> start now </button>
                </div>
            </div>
        </div>
        <div style="width: 1px; height: 530px; " class="bg-mainColor"></div>
        <div class="col mt-5 fontChange">
            <h2> Learn for your future </h2>
            <p class="mt-4"> You can learn a lot with us at any time available to you and anywhere, as our mission is to allow you to learn in a smooth and simplified manner that suits your circumstances to achieve the greatest benefit.

                You can choose the content you want before starting, whether it is a “complete course that contains many videos in one field” or a single content, whether it is pdf, power point, word, video. After selecting the content you want, you will move to clicking on it to start together.
               
            </p>

            <p  class="mt-4 text-info">What do you want to learn?</p>
            <button routerLink='/home' class="btnIndex text-light mb-5  cursorPointer"> Full course </button>
            <button  routerLink='/homeResource' class="ml-5 btnIndex text-light mb-5cursorPointer">  Resource </button>
        </div>
    
    </div>

</div>